.SidePanel {
    height: 78vh;
    width: 20%;
    position: absolute;
    z-index: 2;
    background-color: white;
    margin-top: 11vh;
    box-shadow: 3px 3px 3px #cccccc;
}

.Divider {
    margin-top: 20px;
    margin-bottom: 10px;
}